body {
  font-family: Verdana, "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #444;
  background-color: #ffffff;
  height: 100%;
}

html{
  height: 100%;

}

#header{
  height: 300px;
  padding:100px;
}

#content.container-fluid{
  height: 90%;
}

#content{
  background-image:url(image/old_mathematics.png);
}

#menu{
  background-image:url(image/old_mathematics.png);
}

.row-fluid,.span9{
  height: 90%;
}

.span3{
  height: 600px;
}


#map {
  height: 100%;
  position: relative;
}

#map img {
  max-width: none;
}

#sidebar {
  height: 200px;
}

.horselight {
  overflow-style: marquee-line;   /* W3C(標準用法) */
  marquee-style: scroll;      /* W3C(標準用法) */
  marquee-play-count: infinite;   /* W3C(標準用法) */

  overflow: -webkit-marquee;    /* Chrome, Safari 必加 */
  -webkit-marquee-style: scroll;    /* Chrome, Safari */
  -webkit-marquee-repetition: infinite; /* Chrome, Safari */
}

.head-shadow{
  -moz-box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
  -webkit-box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
  box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
